.btn {
      border: 2px solid black;
      background-color: white;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
    }
    .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }


    /* Green */
    .success {
      border-color: #4CAF50;
      color: green;
    }

    .success:hover {
      background-color: #4CAF50;
      color: white;
    }
    .container1 {
      padding: 10px;
      padding-right: 100px;
      padding-left: 700px;
    }
    .container {
      padding: 1px;
      padding-right: 100px;
      padding-left: 100px;
    }
    .a {
      text-align: center;
      color: grey;
    }
    .a1 {
      text-align: center;
      color: black;
    }
    #content{
      align: center;
      width: 740px;
      height: 580px;
      margin-left: 200px;
      margin-top: 20px;
      padding: 0px;
      border: 0px solid #460606;
      border-radius: 4px;
    }
    #abc{
      position: relative;
      left: 420px;
      top: 15px;
    }
